body{
    font-size: 1em;
}

table{
    width:90%;
}

.heroImage{
    max-width: 200px;
}
.logoImage{
    max-width: 400px;
}
.oddrow{
    background-color: dimgray;
}
.evenrow{
    background-color: gainsboro;
}

.tableHeader{
    background-color: black;
    color:azure;
    font-size: 1.5em;
}
#heroText{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 4em;
margin:0;
text-transform: uppercase;
color:rgb(172, 26, 26);
text-shadow: 2px, 1px rgb(0, 0, 0);
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color:yellow;

}